body{
  margin:0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.abau-link{
  cursor: pointer;
}

.link{
  text-decoration: none;
}

.logo-item:hover{
  transform: scale(1.3);
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  transition: all .5s;
}

.service-item:hover{
  transform: scale(1.1);

  transition: all .3s;
}
